*, *:before, *:after {
  box-sizing: border-box;

}

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.hidden, [hidden] {
  display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */

.image {
  max-width: 100%;
  height: auto;
  display: block;
}

.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-right {
  margin-left: auto;
}

.gutter-left {
  padding-left: 1rem;
}

.gutter-right {
  padding-right: 1rem;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}