/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/

.form-aligned {
  input, textarea, select {
    *display: inline;
    *zoom: 1;
  }
}

.form-message-inline {
  *display: inline;
  *zoom: 1;
}

.group {
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  [class*="unit"] {
    *display: inline;
  }
}

// Grids
@each $break, $min-width in $breakMin {
  $prefix: '';
  @if $break != 'xs' {
    $prefix: '-#{$break}';
  }
  @include breakpoint($break) {
    @each $divisions in $grids {
      $unit: 100% / $divisions;
      @for $i from 1 through $divisions {
        .unit#{$prefix}-#{$i}-#{$divisions} {
          width: $unit * $i - $ie-factor;
        }
      }
    }
  }
}

// HORIZONTAL MENU

.menu-horizontal {
  .menu-item, .menu-heading, .menu-separator {
    *display: inline;
  }
}