/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/

.form-aligned {
  input, textarea, select, .help-inline {
    *display: inline;
    *zoom: 1;
  }
}

.form-message-inline {
  *display: inline;
  *zoom: 1;
}

.group {
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
}

.unit {
  *display: inline;
}

// Grids
@each $break, $min-width in $breakMin {
  $prefix: '';
  @if $break != 'xs' {
    $prefix: '-#{$break}';
  }
  @include breakpoint($break) {
    .unit#{$prefix}-1,
    .unit#{$prefix}-1-1,
    .unit#{$prefix}-1-2,
    .unit#{$prefix}-1-3,
    .unit#{$prefix}-2-3,
    .unit#{$prefix}-1-4,
    .unit#{$prefix}-3-4,
    .unit#{$prefix}-1-5,
    .unit#{$prefix}-2-5,
    .unit#{$prefix}-3-5,
    .unit#{$prefix}-4-5,
    .unit#{$prefix}-5-5,
    .unit#{$prefix}-1-6,
    .unit#{$prefix}-5-6,
    .unit#{$prefix}-1-8,
    .unit#{$prefix}-3-8,
    .unit#{$prefix}-5-8,
    .unit#{$prefix}-7-8,
    .unit#{$prefix}-1-12,
    .unit#{$prefix}-5-12,
    .unit#{$prefix}-7-12,
    .unit#{$prefix}-11-12,
    .unit#{$prefix}-1-24,
    .unit#{$prefix}-2-24,
    .unit#{$prefix}-3-24,
    .unit#{$prefix}-4-24,
    .unit#{$prefix}-5-24,
    .unit#{$prefix}-6-24,
    .unit#{$prefix}-7-24,
    .unit#{$prefix}-8-24,
    .unit#{$prefix}-9-24,
    .unit#{$prefix}-10-24,
    .unit#{$prefix}-11-24,
    .unit#{$prefix}-12-24,
    .unit#{$prefix}-13-24,
    .unit#{$prefix}-14-24,
    .unit#{$prefix}-15-24,
    .unit#{$prefix}-16-24,
    .unit#{$prefix}-17-24,
    .unit#{$prefix}-18-24,
    .unit#{$prefix}-19-24,
    .unit#{$prefix}-20-24,
    .unit#{$prefix}-21-24,
    .unit#{$prefix}-22-24,
    .unit#{$prefix}-23-24,
    .unit#{$prefix}-24-24 {
      *display: inline;
    }

    .unit#{$prefix}-1-24 {
      *width: $grid-24-unit - $ie-factor;
    }

    .unit#{$prefix}-1-12,
    .unit#{$prefix}-2-24 {
      *width: $grid-24-unit * 2 - $ie-factor;
    }

    .unit#{$prefix}-1-8,
    .unit#{$prefix}-3-24 {
      *width: $grid-24-unit * 3 - $ie-factor;
    }

    .unit#{$prefix}-1-6,
    .unit#{$prefix}-4-24 {
      *width: $grid-24-unit * 4 - $ie-factor;
    }

    .unit#{$prefix}-1-5 {
      *width: $grid-5-unit - $ie-factor;
    }

    .unit#{$prefix}-5-24 {
      *width: $grid-24-unit * 5 - $ie-factor;
    }

    .unit#{$prefix}-1-4,
    .unit#{$prefix}-6-24 {
      *width: $grid-24-unit * 6 - $ie-factor;
    }

    .unit#{$prefix}-7-24 {
      *width: $grid-24-unit * 7 - $ie-factor;
    }

    .unit#{$prefix}-1-3,
    .unit#{$prefix}-8-24 {
      *width: $grid-24-unit * 8 - $ie-factor;
    }

    .unit#{$prefix}-3-8,
    .unit#{$prefix}-9-24 {
      *width: $grid-24-unit * 9 - $ie-factor;
    }

    .unit#{$prefix}-2-5 {
      *width: $grid-5-unit * 2 - $ie-factor;
    }

    .unit#{$prefix}-5-12,
    .unit#{$prefix}-10-24 {
      *width: $grid-24-unit * 10 - $ie-factor;
    }

    .unit#{$prefix}-11-24 {
      *width: $grid-24-unit * 11 - $ie-factor;
    }

    .unit#{$prefix}-1-2,
    .unit#{$prefix}-12-24 {
      *width: $grid-24-unit * 12 - $ie-factor;
    }

    .unit#{$prefix}-13-24 {
      *width: $grid-24-unit * 13 - $ie-factor;
    }

    .unit#{$prefix}-7-12,
    .unit#{$prefix}-14-24 {
      *width: $grid-24-unit * 14 - $ie-factor;
    }

    .unit#{$prefix}-3-5 {
      *width: $grid-5-unit * 3 - $ie-factor;
    }

    .unit#{$prefix}-5-8,
    .unit#{$prefix}-15-24 {
      *width: $grid-24-unit * 15 - $ie-factor;
    }

    .unit#{$prefix}-2-3,
    .unit#{$prefix}-16-24 {
      *width: $grid-24-unit * 16 - $ie-factor;
    }

    .unit#{$prefix}-17-24 {
      *width: $grid-24-unit * 17 - $ie-factor;
    }

    .unit#{$prefix}-3-4,
    .unit#{$prefix}-18-24 {
      *width: $grid-24-unit * 18 - $ie-factor;
    }

    .unit#{$prefix}-19-24 {
      *width: $grid-24-unit * 19 - $ie-factor;
    }

    .unit#{$prefix}-4-5 {
      *width: $grid-5-unit * 4 - $ie-factor;
    }

    .unit#{$prefix}-5-6,
    .unit#{$prefix}-20-24 {
      *width: $grid-24-unit * 20 - $ie-factor;
    }

    .unit#{$prefix}-7-8,
    .unit#{$prefix}-21-24 {
      *width: $grid-24-unit * 21 - $ie-factor;
    }

    .unit#{$prefix}-11-12,
    .unit#{$prefix}-22-24 {
      *width: $grid-24-unit * 22 - $ie-factor;
    }

    .unit#{$prefix}-23-24 {
      *width: $grid-24-unit * 23 - $ie-factor;
    }

  }
}

// HORIZONTAL MENU

.menu-horizontal {
  .menu-item, .menu-heading, .menu-separator {
    *display: inline;
  }
}