/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/

.form-aligned {
  input, textarea, select, .help-inline {
    *display: inline;
    *zoom: 1;
  }
}

.form-message-inline {
  *display: inline;
  *zoom: 1;
}

@media screen and (min-width: 35.5em) {
  .unit-sm-1, .unit-sm-1-1, .unit-sm-1-2, .unit-sm-1-3, .unit-sm-2-3, .unit-sm-1-4, .unit-sm-3-4, .unit-sm-1-5, .unit-sm-2-5, .unit-sm-3-5, .unit-sm-4-5, .unit-sm-5-5, .unit-sm-1-6, .unit-sm-5-6, .unit-sm-1-8, .unit-sm-3-8, .unit-sm-5-8, .unit-sm-7-8, .unit-sm-1-12, .unit-sm-5-12, .unit-sm-7-12, .unit-sm-11-12, .unit-sm-1-24, .unit-sm-2-24, .unit-sm-3-24, .unit-sm-4-24, .unit-sm-5-24, .unit-sm-6-24, .unit-sm-7-24, .unit-sm-8-24, .unit-sm-9-24, .unit-sm-10-24, .unit-sm-11-24, .unit-sm-12-24, .unit-sm-13-24, .unit-sm-14-24, .unit-sm-15-24, .unit-sm-16-24, .unit-sm-17-24, .unit-sm-18-24, .unit-sm-19-24, .unit-sm-20-24, .unit-sm-21-24, .unit-sm-22-24, .unit-sm-23-24, .unit-sm-24-24 {
    *display: inline;
  }

  .unit-sm-1-24 {
    *width: 4.1357%;
  }

  .unit-sm-1-12, .unit-sm-2-24 {
    *width: 8.3023%;
  }

  .unit-sm-1-8, .unit-sm-3-24 {
    *width: 12.4690%;
  }

  .unit-sm-1-6, .unit-sm-4-24 {
    *width: 16.6357%;
  }

  .unit-sm-1-5 {
    *width: 19.9690%;
  }

  .unit-sm-5-24 {
    *width: 20.8023%;
  }

  .unit-sm-1-4, .unit-sm-6-24 {
    *width: 24.9690%;
  }

  .unit-sm-7-24 {
    *width: 29.1357%;
  }

  .unit-sm-1-3, .unit-sm-8-24 {
    *width: 33.3023%;
  }

  .unit-sm-3-8, .unit-sm-9-24 {
    *width: 37.4690%;
  }

  .unit-sm-2-5 {
    *width: 39.9690%;
  }

  .unit-sm-5-12, .unit-sm-10-24 {
    *width: 41.6357%;
  }

  .unit-sm-11-24 {
    *width: 45.8023%;
  }

  .unit-sm-1-2, .unit-sm-12-24 {
    *width: 49.9690%;
  }

  .unit-sm-13-24 {
    *width: 54.1357%;
  }

  .unit-sm-7-12, .unit-sm-14-24 {
    *width: 58.3023%;
  }

  .unit-sm-3-5 {
    *width: 59.9690%;
  }

  .unit-sm-5-8, .unit-sm-15-24 {
    *width: 62.4690%;
  }

  .unit-sm-2-3, .unit-sm-16-24 {
    *width: 66.6357%;
  }

  .unit-sm-17-24 {
    *width: 70.8023%;
  }

  .unit-sm-3-4, .unit-sm-18-24 {
    *width: 74.9690%;
  }

  .unit-sm-19-24 {
    *width: 79.1357%;
  }

  .unit-sm-4-5 {
    *width: 79.9690%;
  }

  .unit-sm-5-6, .unit-sm-20-24 {
    *width: 83.3023%;
  }

  .unit-sm-7-8, .unit-sm-21-24 {
    *width: 87.4690%;
  }

  .unit-sm-11-12, .unit-sm-22-24 {
    *width: 91.6357%;
  }

  .unit-sm-23-24 {
    *width: 95.8023%;
  }

}

@media screen and (min-width: 48em) {
  .unit-md-1, .unit-md-1-1, .unit-md-1-2, .unit-md-1-3, .unit-md-2-3, .unit-md-1-4, .unit-md-3-4, .unit-md-1-5, .unit-md-2-5, .unit-md-3-5, .unit-md-4-5, .unit-md-5-5, .unit-md-1-6, .unit-md-5-6, .unit-md-1-8, .unit-md-3-8, .unit-md-5-8, .unit-md-7-8, .unit-md-1-12, .unit-md-5-12, .unit-md-7-12, .unit-md-11-12, .unit-md-1-24, .unit-md-2-24, .unit-md-3-24, .unit-md-4-24, .unit-md-5-24, .unit-md-6-24, .unit-md-7-24, .unit-md-8-24, .unit-md-9-24, .unit-md-10-24, .unit-md-11-24, .unit-md-12-24, .unit-md-13-24, .unit-md-14-24, .unit-md-15-24, .unit-md-16-24, .unit-md-17-24, .unit-md-18-24, .unit-md-19-24, .unit-md-20-24, .unit-md-21-24, .unit-md-22-24, .unit-md-23-24, .unit-md-24-24 {
    *display: inline;
  }

  .unit-md-1-24 {
    *width: 4.1357%;
  }

  .unit-md-1-12, .unit-md-2-24 {
    *width: 8.3023%;
  }

  .unit-md-1-8, .unit-md-3-24 {
    *width: 12.4690%;
  }

  .unit-md-1-6, .unit-md-4-24 {
    *width: 16.6357%;
  }

  .unit-md-1-5 {
    *width: 19.9690%;
  }

  .unit-md-5-24 {
    *width: 20.8023%;
  }

  .unit-md-1-4, .unit-md-6-24 {
    *width: 24.9690%;
  }

  .unit-md-7-24 {
    *width: 29.1357%;
  }

  .unit-md-1-3, .unit-md-8-24 {
    *width: 33.3023%;
  }

  .unit-md-3-8, .unit-md-9-24 {
    *width: 37.4690%;
  }

  .unit-md-2-5 {
    *width: 39.9690%;
  }

  .unit-md-5-12, .unit-md-10-24 {
    *width: 41.6357%;
  }

  .unit-md-11-24 {
    *width: 45.8023%;
  }

  .unit-md-1-2, .unit-md-12-24 {
    *width: 49.9690%;
  }

  .unit-md-13-24 {
    *width: 54.1357%;
  }

  .unit-md-7-12, .unit-md-14-24 {
    *width: 58.3023%;
  }

  .unit-md-3-5 {
    *width: 59.9690%;
  }

  .unit-md-5-8, .unit-md-15-24 {
    *width: 62.4690%;
  }

  .unit-md-2-3, .unit-md-16-24 {
    *width: 66.6357%;
  }

  .unit-md-17-24 {
    *width: 70.8023%;
  }

  .unit-md-3-4, .unit-md-18-24 {
    *width: 74.9690%;
  }

  .unit-md-19-24 {
    *width: 79.1357%;
  }

  .unit-md-4-5 {
    *width: 79.9690%;
  }

  .unit-md-5-6, .unit-md-20-24 {
    *width: 83.3023%;
  }

  .unit-md-7-8, .unit-md-21-24 {
    *width: 87.4690%;
  }

  .unit-md-11-12, .unit-md-22-24 {
    *width: 91.6357%;
  }

  .unit-md-23-24 {
    *width: 95.8023%;
  }

}

@media screen and (min-width: 64em) {
  .unit-lg-1, .unit-lg-1-1, .unit-lg-1-2, .unit-lg-1-3, .unit-lg-2-3, .unit-lg-1-4, .unit-lg-3-4, .unit-lg-1-5, .unit-lg-2-5, .unit-lg-3-5, .unit-lg-4-5, .unit-lg-5-5, .unit-lg-1-6, .unit-lg-5-6, .unit-lg-1-8, .unit-lg-3-8, .unit-lg-5-8, .unit-lg-7-8, .unit-lg-1-12, .unit-lg-5-12, .unit-lg-7-12, .unit-lg-11-12, .unit-lg-1-24, .unit-lg-2-24, .unit-lg-3-24, .unit-lg-4-24, .unit-lg-5-24, .unit-lg-6-24, .unit-lg-7-24, .unit-lg-8-24, .unit-lg-9-24, .unit-lg-10-24, .unit-lg-11-24, .unit-lg-12-24, .unit-lg-13-24, .unit-lg-14-24, .unit-lg-15-24, .unit-lg-16-24, .unit-lg-17-24, .unit-lg-18-24, .unit-lg-19-24, .unit-lg-20-24, .unit-lg-21-24, .unit-lg-22-24, .unit-lg-23-24, .unit-lg-24-24 {
    *display: inline;
  }

  .unit-lg-1-24 {
    *width: 4.1357%;
  }

  .unit-lg-1-12, .unit-lg-2-24 {
    *width: 8.3023%;
  }

  .unit-lg-1-8, .unit-lg-3-24 {
    *width: 12.4690%;
  }

  .unit-lg-1-6, .unit-lg-4-24 {
    *width: 16.6357%;
  }

  .unit-lg-1-5 {
    *width: 19.9690%;
  }

  .unit-lg-5-24 {
    *width: 20.8023%;
  }

  .unit-lg-1-4, .unit-lg-6-24 {
    *width: 24.9690%;
  }

  .unit-lg-7-24 {
    *width: 29.1357%;
  }

  .unit-lg-1-3, .unit-lg-8-24 {
    *width: 33.3023%;
  }

  .unit-lg-3-8, .unit-lg-9-24 {
    *width: 37.4690%;
  }

  .unit-lg-2-5 {
    *width: 39.9690%;
  }

  .unit-lg-5-12, .unit-lg-10-24 {
    *width: 41.6357%;
  }

  .unit-lg-11-24 {
    *width: 45.8023%;
  }

  .unit-lg-1-2, .unit-lg-12-24 {
    *width: 49.9690%;
  }

  .unit-lg-13-24 {
    *width: 54.1357%;
  }

  .unit-lg-7-12, .unit-lg-14-24 {
    *width: 58.3023%;
  }

  .unit-lg-3-5 {
    *width: 59.9690%;
  }

  .unit-lg-5-8, .unit-lg-15-24 {
    *width: 62.4690%;
  }

  .unit-lg-2-3, .unit-lg-16-24 {
    *width: 66.6357%;
  }

  .unit-lg-17-24 {
    *width: 70.8023%;
  }

  .unit-lg-3-4, .unit-lg-18-24 {
    *width: 74.9690%;
  }

  .unit-lg-19-24 {
    *width: 79.1357%;
  }

  .unit-lg-4-5 {
    *width: 79.9690%;
  }

  .unit-lg-5-6, .unit-lg-20-24 {
    *width: 83.3023%;
  }

  .unit-lg-7-8, .unit-lg-21-24 {
    *width: 87.4690%;
  }

  .unit-lg-11-12, .unit-lg-22-24 {
    *width: 91.6357%;
  }

  .unit-lg-23-24 {
    *width: 95.8023%;
  }
}

@media screen and (min-width: 80em) {
  .unit-xl-1, .unit-xl-1-1, .unit-xl-1-2, .unit-xl-1-3, .unit-xl-2-3, .unit-xl-1-4, .unit-xl-3-4, .unit-xl-1-5, .unit-xl-2-5, .unit-xl-3-5, .unit-xl-4-5, .unit-xl-5-5, .unit-xl-1-6, .unit-xl-5-6, .unit-xl-1-8, .unit-xl-3-8, .unit-xl-5-8, .unit-xl-7-8, .unit-xl-1-12, .unit-xl-5-12, .unit-xl-7-12, .unit-xl-11-12, .unit-xl-1-24, .unit-xl-2-24, .unit-xl-3-24, .unit-xl-4-24, .unit-xl-5-24, .unit-xl-6-24, .unit-xl-7-24, .unit-xl-8-24, .unit-xl-9-24, .unit-xl-10-24, .unit-xl-11-24, .unit-xl-12-24, .unit-xl-13-24, .unit-xl-14-24, .unit-xl-15-24, .unit-xl-16-24, .unit-xl-17-24, .unit-xl-18-24, .unit-xl-19-24, .unit-xl-20-24, .unit-xl-21-24, .unit-xl-22-24, .unit-xl-23-24, .unit-xl-24-24 {
    *display: inline;
  }

  .unit-xl-1-24 {
    *width: 4.1357%;
  }

  .unit-xl-1-12, .unit-xl-2-24 {
    *width: 8.3023%;
  }

  .unit-xl-1-8, .unit-xl-3-24 {
    *width: 12.4690%;
  }

  .unit-xl-1-6, .unit-xl-4-24 {
    *width: 16.6357%;
  }

  .unit-xl-1-5 {
    *width: 19.9690%;
  }

  .unit-xl-5-24 {
    *width: 20.8023%;
  }

  .unit-xl-1-4, .unit-xl-6-24 {
    *width: 24.9690%;
  }

  .unit-xl-7-24 {
    *width: 29.1357%;
  }

  .unit-xl-1-3, .unit-xl-8-24 {
    *width: 33.3023%;
  }

  .unit-xl-3-8, .unit-xl-9-24 {
    *width: 37.4690%;
  }

  .unit-xl-2-5 {
    *width: 39.9690%;
  }

  .unit-xl-5-12, .unit-xl-10-24 {
    *width: 41.6357%;
  }

  .unit-xl-11-24 {
    *width: 45.8023%;
  }

  .unit-xl-1-2, .unit-xl-12-24 {
    *width: 49.9690%;
  }

  .unit-xl-13-24 {
    *width: 54.1357%;
  }

  .unit-xl-7-12, .unit-xl-14-24 {
    *width: 58.3023%;
  }

  .unit-xl-3-5 {
    *width: 59.9690%;
  }

  .unit-xl-5-8, .unit-xl-15-24 {
    *width: 62.4690%;
  }

  .unit-xl-2-3, .unit-xl-16-24 {
    *width: 66.6357%;
  }

  .unit-xl-17-24 {
    *width: 70.8023%;
  }

  .unit-xl-3-4, .unit-xl-18-24 {
    *width: 74.9690%;
  }

  .unit-xl-19-24 {
    *width: 79.1357%;
  }

  .unit-xl-4-5 {
    *width: 79.9690%;
  }

  .unit-xl-5-6, .unit-xl-20-24 {
    *width: 83.3023%;
  }

  .unit-xl-7-8, .unit-xl-21-24 {
    *width: 87.4690%;
  }

  .unit-xl-11-12, .unit-xl-22-24 {
    *width: 91.6357%;
  }

  .unit-xl-23-24 {
    *width: 95.8023%;
  }
}
