$primary-color: #412722;
$secondary-color: #DFA06E;
$warning-color: #F5F3BB;
$danger-color: #DF2935;
$success-color: #86BA90;
$sidebar-font-color: #EEE;

$shadow: rgba(0, 0, 0, .2);
$dark-shadow: rgba(0, 0, 0, .3);
$text-shadow: $shadow;