$primary-color: #50514F;
$secondary-color: #247BA0;
$warning-color: #FFE066;
$danger-color: #F25F5C;
$success-color: #70C1B3;
$sidebar-font-color: #EEE;

$shadow: rgba(0, 0, 0, .2);
$dark-shadow: rgba(0, 0, 0, .3);
$text-shadow: $shadow;