@import "../../node_modules/thramcss/src/thramcss";
@import "settings";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

hr {
  border: none;
  border-bottom: 1px solid $shadow-color;
  width: 100%;
}

.main-container {
  padding-top: 8rem;
}

.header {
  background-color: $secondary-color;
  position: fixed;
  width: 100%;
  h1 {
    font-size: $h4-font-size;
  }
  .menu-heading {
    color: $sidebar-font-color;
    background-color: $primary-color;
    text-shadow: 0 1px 1px $text-shadow;
  }
  .menu-item .menu-link {
    padding: .5rem 1rem;
  }
  .menu-item.menu-selected,
  .menu-link:hover,
  .menu-link:active,
  .menu-link:focus {
    background-color: $danger-color;

  }
  .menu-link {
    color: $sidebar-font-color;
    text-shadow: 0 1px 1px $text-shadow;
  }
}

.u-label {
  display: inline-block;
  float: left;
  width: 50px;
}
.u-example {
  display: inline-block;
  float: left;
  width: calc(100% - 50px);
}

.grid-units-item {
  height: 20px;
  background: $primary-color;
  color: white;
}