@import "../../node_modules/thramcss/src/thramcss";
@import "../../node_modules/thramcss/src/thramcss.hacks";
@import "settings";

html, body, .router-container {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

.side-bar {
  background-color: $secondary-color;
  height: 100%;
  .menu-heading {
    color: $sidebar-font-color;
    background-color: $primary-color;
    text-shadow: 0 1px 1px $text-shadow;
  }
  .menu-list {
    border-top: 1px solid $sidebar-font-color;
    margin: 0;
  }
  .menu-item .menu-link {
    padding: .5rem 1rem;
  }
  .menu-item.menu-selected,
  .menu-link:hover,
  .menu-link:active,
  .menu-link:focus {
    background-color: $danger-color;

  }
  .menu-link {
    color: $sidebar-font-color;
    text-shadow: 0 1px 1px $text-shadow;
  }
}

.main-container{
  padding: 1rem;
}