// Hacks
$ie-factor: 0.031;
$include-hacks: false;

// Unit Sizes

$grid-24-unit: 100% / 24;
$grid-5-unit: 100% / 5;
$breakMin: (xs: 0, sm: 35.5em, md: 48em, lg: 64em, xl:80em);
$breakMax: (xs: 35.438em, sm: 47.938em, md: 63.938em, lg: 79.938em);

//Headings sizes
$h1-font-size: 2.4rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.0rem;
$h6-font-size: 0.6rem;
$p-font-size: 1.0rem;